@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Montserrat:wght@200;300;400;500;600&display=swap');

.cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.gaps {
  gap: 1rem;
}
.category-title-container {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}
a:hover {
  text-decoration: underline;
  color: orange;
}

.body {
  background-color: rgb(247, 247, 247);
  font-family: 'Montserrat', sans-serif;
}

.searchitem {
  padding: 5px 5px;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 250px;
  border-radius: 5px;
  text-align: left;
  max-height: 40vh;
  overflow-y: auto;
  background: white;
}

#mainsearch {
  position: relative;
}
.search-list {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-weight: 400;
  width: 100%;
  padding: 1px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.search-list:hover {
  background-color: rgb(220, 220, 220);
}
li {
  list-style: none;
  padding: 2px 0px;
  width: 100%;
}

.small-description {
  font-weight: 500;
  margin: 1rem;
}
.main-footer {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: 2.5rem;
  /* sticky on the bottom of the page */
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.head-nav {
  color: white;
}
.head-nav:hover {
  text-decoration: none;
  color: orange;
}
.title-animation {
  color: red;
  animation: change-color 4s infinite ease-in-out alternate;
}
@keyframes change-color {
  0% {
    color: red;
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
    color: orange;
  }
  100% {
    color: red;
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
